<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Financial Chat App</title>
</head>

<body>
	<h1>Welcome to Chatroom {{ room }}</h1>

	<div id="messages"></div>

	<form id="message_input_form">
		<input type="text" id="message_input" placeholder="Enter your message">
		<button type="submit">Send</button>
	</form>
	<a href="/logout">Logout</a>
</body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script> -->
<script>
	const socket = io.connect("http://127.0.0.1:5000");

    socket.on('connect', function () {
        socket.emit('join_room', {
            user: "{{ user }}",
            room: "{{ room }}"
        });

        let message_input = document.getElementById('message_input');

        document.getElementById('message_input_form').onsubmit = function (event) {
            event.preventDefault();
            let message = message_input.value.trim();
            if (message.length) {
                socket.emit('send_message', {
                    user: "{{ user }}",
                    room: "{{ room }}",
                    message: message
                })
            }
            message_input.value = '';
            message_input.focus();
        }
    });

	socket.on('receive_message', function (data) {
        console.log(data);
        const newDiv = document.createElement('div');
        newDiv.innerHTML = `<b>${data.user}:&nbsp;</b> ${data.message}`;
        document.getElementById('messages').appendChild(newDiv);
    });

	socket.on('join_room_message', function (data) {
		console.log(data);
		if (data.user !== "{{ user }}") {
			const newDiv = document.createElement('div');
			newDiv.innerHTML = `<b>${data.user} has joined.<b>`;
			document.getElementById('messages').appendChild(newDiv);
		}
	});

	socket.on('leave_room_message', function (data) {
		console.log(data);
		if (data.user !== "{{ user }}") {
			const newDiv = document.createElement('div');
			newDiv.innerHTML = `<b>${data.user} has left the room.<b>`;
			document.getElementById('messages').appendChild(newDiv);
		}
	});
	
</script>

</html>